<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/template.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="~/Content/SpryValidationSelect.css" rel="stylesheet" type="text/css"/>

    <title>@ViewBag.Title - Assurance Auto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>  
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            <div id="Footer">&copy; @DateTime.Now.Year Tous droits r&eacute;serv&eacute;s | <a title="Mentions l&eacute;gales">Mentions l&eacute;gales</a>
            </div>                       
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
